@tailwind base;

@screen print {
  @page {
    margin-top: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    margin-right: 0in;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    color: black !important;
  }

  .page {
    padding: theme(spacing.16) theme(spacing.16) !important;
  }

  .initials {
    color: transparent !important;
    text-shadow: 0 0 0 #fff !important;
  }

  h1, h2, h3, p, li {
    color: black !important;
  }

  html {
    font-size: 12.288px !important;
  }
}

html {
  font-size: 13.176471px;
}

/* For Letter size */

@screen sm {
  html {
    font-size: calc( 13.176471px + (16 - 13.176471) * (100vw - 640px) / (833 - 640) );
  }
}

@screen md {
  html {
    font-size: calc( 12.288px + (16 - 12.288) * (100vw - 833px) / (1079.5 - 833) );
  }
}

/* For A4 size */

/* @screen sm {
  html {
    font-size: calc( 13.176471px + (16 - 13.176471) * (100vw - 640px) / (811 - 640) );
  }
}

@screen md {
  html {
    font-size: calc( 12.288px + (16 - 12.288) * (100vw - 811px) / (1051 - 811) );
  }
} */

@screen lg {
  html {
    font-size: 16px;
  }
}

@variants responsive {
  .col-1 {
    column-count: 1;
  }

  .col-2 {
    column-count: 2;
  }
}

.col-gap-md {
  column-gap: 2.1875rem;
}

.col-fill {
  column-fill: auto;
}

.col-break-avoid {
  page-break-inside: avoid;
  break-inside: avoid;
}

.col-break-after {
  page-break-after: always;
  break-after: always;
}

.hyphens-manual {
  hyphens: manual;
}

.change-color-fast {
  transition: color 0.1s;
  transition-timing-function: ease-in-out;
}

body .icon-parent::before {
  content: "A";
  width: 0px;
  visibility: hidden;
  display: inline-block;
}

@screen print {
  .print\:border-inset {
    box-shadow: inset 0 0 0 1px theme(colors.gray.400);
  }
}

.border-inset {
  box-shadow: inset 0 0 0 1px theme(colors.gray.400);
}

@tailwind components;

@tailwind utilities;
